.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

h2 {
    margin-bottom: 20px;
}

.wrapper {
    width: 350px;
    margin: 0 10px 10px 10px;
}

.input {
    text-align: center;
    align-items: center;
    flex-direction: row;
    width: 320px;
    margin: 10px 15px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #438bd1c7;
}

.input:active,
.input:hover,
.input:focus {
    border: 2px solid #0d74db;
}

.input:focus-visible {
    outline: none;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.btn {
    margin: 10px 0;
}

.passWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.passBtn {
    position: absolute;
    margin: 17px 0 0 -50px;
    background: transparent;
    border: none;
    outline: none;
}
