.btns {
    display: flex;
    text-align: center;
    margin: 15px;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.wrapper {
    margin: 10px 0 10px -5px;
    text-align: left;
}

.common {
    padding: 4px 9px;
    border-radius: 5px;
    color: #01050d;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    margin: 5px;
}

.common:focus {
    outline: none;
}

.common > a {
    color: #000;
}

.common > a:hover {
    color: #fff;
}

.remove {
    background-color: #efefef;
    border: 2px solid #050506;
    box-shadow: 3px 2px 5px #5c6282e0;
    transition: 0.2s linear;
    padding: 3px 8px;
}

.remove:hover,
.remove:focus,
.remove:active {
    background-color: #f2131f;
    border: 2px solid #fff5f5;
    color: #fdfdfd;
    box-shadow: 4px 3px 3px #f66666;
}

.open {
    background-color: #aec4f1;
    border: 2px solid #0c0c62;
    transition: 0.3s linear;
    box-shadow: 4px 3px 3px rgb(86 88 169 / 54%);
}

.open:hover,
.open:focus {
    background-color: #5045c0;
    color: #fff;
    border: 2px solid #dae4ef;
    box-shadow: 3px 3px 6px rgb(6 4 120 / 74%),
        -1px -1px 1px rgb(28 14 125 / 84%);
}

.add {
    background-color: #aec4f1;
    border: 2px solid #0c0c62;
    transition: 0.3s linear;
    box-shadow: 4px 3px 3px rgb(86 88 169 / 54%);
}

.add:hover,
.add:focus {
    background-color: #5045c0;
    color: #fff;
    border: 2px solid #dae4ef;
    box-shadow: 3px 3px 6px rgb(6 4 120 / 74%),
        -1px -1px 1px rgb(28 14 125 / 84%);
}

.reg {
    height: 48px;
    width: 318px;
    background-color: #abcaff8f;
    border: 2px solid #0a2d9fe6;
}

.reg:disabled {
    background-color: #abcaff8f;
    border: 2px solid #0a2d9fe6;
}

.reg:disabled:hover {
    background-color: #abcaff8f;
}

.reg:hover,
.reg:focus,
.reg:active {
    background-color: #074fcce0;
    color: #fff;
    box-shadow: 2px 2px 1px #545ccbc7;
}

.mainBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 30px auto 20px auto;
}

.form {
    height: 48px;
    width: 230px;
    border-radius: 5px;
    color: #01050d;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding: 10px;
    margin: 0 15px;
    justify-content: center;
}

.logIn {
    background-color: #fff;
    border: 1px solid #234fe0e6;
    text-align: center;
    color: #2623ed;
}

.logIn:hover,
.logIn:active,
.logIn:focus {
    background-color: #4294f1d6;
    border: 1px solid #112977e6;
    color: #f6f6ff;
    box-shadow: 1px 1px 4px #062a93;
    outline: none;
}

.reg2 {
    background-color: #abcaff8f;
    border: 2px solid #0a2d9fe6;
}
