.form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.input {
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 320px;
    margin: 10px 15px;
}
