.open {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.open > h3 {
    margin-bottom: 15px;
    font-size: 32px;
}

.open > p {
    text-align: center;
    width: 100%;
    hyphens: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 28px;
}
