html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  background-color: white;
  line-height: 1.4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  marker: none;
  margin: 0;
  padding: 0;
}

a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a64e4fc;
  padding-left: 4px;
}
a:hover {
  color: #0a2d9fe6;
}

img {
  max-width: 100%;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 15px;
}
.navbar > li {
  padding-left: 15px;
}
.navbar > li > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #1799e6;
  font-weight: bold;
  text-shadow: 0px 0px 1px #110674;
  font-size: 22px;
  outline: none;
}
.navbar > li > a:hover, .navbar > li > a:focus {
  color: #1b2ebb;
  text-shadow: 0px 0px 1px #7e87c2ea;
}

.admin-nav > a {
  color: red !important;
  text-shadow: 1px 1px 1px #000 !important;
}
.admin-nav > a:hover, .admin-nav > a:focus {
  color: #ffc107 !important;
  text-shadow: 1px 1px 1px #5f0606 !important;
}

.main {
  padding-top: 3rem;
}
.main__div {
  margin-top: 150px;
}
.main__div > h1 {
  padding-bottom: 5px;
}

.btns {
  width: 250px;
  height: 45px;
  margin: 10px 15px 10px 15px !important;
}
.btns-first > a {
  color: #1717d5 !important;
  padding: 0 50px !important;
}
.btns > a {
  color: #fbfbfc;
  padding: 0 10px;
}
.btns > a:hover {
  color: #d2d5ffea;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 4px 3px 3px #f66666 !important;
          box-shadow: 4px 3px 3px #f66666 !important;
}

.notes__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  text-align: justify;
}

.notes__top-part {
  max-height: 280px;
  min-height: 100px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.notes__single-block {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.notes__single-block-title {
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.notes__single-block-subtitle {
  width: 100%;
}

.blindMsg {
  margin-top: 120px;
  text-align: center;
}

.create-note {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}
.create-note__title {
  margin-bottom: 20px;
}
.create-note__texts > input[type=text], .create-note__texts > textarea {
  width: 50%;
  margin: 5px auto 20px auto;
  padding: 10px 13px;
  background: #d8e3fa4d;
  display: block;
  font-size: 22px;
  color: #1d054d;
  border: 2px solid #161685;
}

textarea {
  text-align: justify;
  min-height: 145px;
  height: 180px;
}

.floating-label > input:focus {
  border-color: #d3d5d8 !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
}