html,
body {
	font-family: "Raleway", sans-serif;
	font-size: 19px;
	font-weight: 400;
	color: #000;
	background-color: white;
	line-height: 1.4;
	width: 100%;
	display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style-type: none;
	marker: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	color: #1a64e4fc;
	padding: 0 4px;
	&:hover {
		color: #0a2d9fe6;
	}
}

img {
	max-width: 100%;
}

.container {
	text-align: center;
	margin: 0 auto;
}

.main {
	padding-top: 3rem;
	&__div {
		margin-top: 150px;
		& > h1 {
			padding-bottom: 5px;
		}
	}
}

.notes__main-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	margin-top: 35px;
	text-align: justify;
}

.notes__top-part {
	max-height: 280px;
	min-height: 100px;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.notes__single-block {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	&-title {
		padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	&-subtitle {
		width: 100%;
	}
}

.blindMsg {
	margin-top: 120px;
	text-align: center;
}

.create-note {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 60px;
	&__title {
		margin-bottom: 20px;
	}
	&__texts {
		& > input[type="text"],
		& > textarea {
			width: 50%;
			margin: 5px auto 20px auto;
			padding: 10px 13px;
			background: #d8e3fa4d;
			display: block;
			font-size: 22px;
			color: #1d054d;
			border: 2px solid #161685;
		}
	}
}

textarea {
	text-align: justify;
	min-height: 145px;
	height: 180px;
}
