html,
body {
	font-family: "Raleway", sans-serif;
	font-size: 19px;
	font-weight: 400;
	color: #000;
	background-color: white;
	line-height: 1.4;
	width: 100%;
	display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style-type: none;
	marker: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	color: red;
	&:hover {
		color: green;
	}
}

img {
	max-width: 100%;
}

#root {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.navbar {
	margin-top: 1rem;
	margin-bottom: 15px;
	& > li {
		padding-left: 15px;
	}
	& > li > a {
		display: inline-flex;
		text-decoration: none;
		color: #1799e6;
		font-weight: bold;
		text-shadow: 0px 0px 1px #110674;
		font-size: 22px;
		outline: none;
		&:hover,
		&:focus {
			color: #1b2ebb;
			text-shadow: 0px 0px 1px #7e87c2ea;
		}
	}
}

.admin-nav > a {
	color: red !important;
	text-shadow: 1px 1px 1px #000 !important;
	&:hover,
	&:focus {
		color: #ffc107 !important;
		text-shadow: 1px 1px 1px #5f0606 !important;
	}
}

.main {
	padding-top: 3rem;
	&__div {
		margin-top: 150px;
		& > h1 {
			padding-bottom: 5px;
		}
	}
}

.logInForm {
	margin-top: 30px;
}

form {
	display: flex;
	height: 60px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.css-xn6ruc > :not(style) {
	margin: 5px 20px !important;
	width: 24ch !important;
}

.form__buttons {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	text-align: center;
}

//кнопки на странице входа / регистрации
.btns {
	width: 250px;
	height: 45px;
	margin: 0 15px 10px 15px !important;
	&-first {
		& > a {
			color: #1717d5 !important;
			padding: 0 50px !important;
		}
	}
	& > a {
		color: #fbfbfc;
		padding: 0 10px;
		&:hover {
			color: #d2d5ffea;
		}
	}
}

.regForm {
	display: block;
}

//обязательно без . - это форма отправки на стр. регистрации
regBoxForm {
	display: flex;
	height: 140px;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.notes__main-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	margin-top: 35px;
	text-align: justify;
}

.notes__top-part {
	max-height: 280px;
	min-height: 100px;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.notes__single-block {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	&__title {
		padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	&__subtitle {
		width: 100%;
	}
}

//кнопки в заметках
.notes__btn {
	text-align: center;
	margin: 15px 0;
	&-common {
		padding: 4px 9px;
		border-radius: 5px;
		color: #01050d;
		font-size: 20px;
		font-weight: 500;
		outline: none;
		margin: 5px;
		& > a {
			color: #000;
			&:hover {
				color: #fff;
			}
		}
	}
	&-open {
		background-color: #aec4f1;
		border: 2px solid #0c0c62;
		transition: 0.3s linear;
		box-shadow: 4px 3px 3px rgb(86 88 169 / 54%);
		&:hover,
		&:focus {
			background-color: #5045c0;
			color: #fff;
			border: 2px solid #dae4ef;
			box-shadow: 3px 3px 6px rgb(6 4 120 / 74%), -1px -1px 1px rgb(28 14 125 / 84%);
		}
	}
	&-remove {
		background-color: #efefef;
		border: 2px solid #050506;
		box-shadow: 3px 2px 5px #5c6282e0;
		&:hover,
		&:focus {
			background-color: #f2131f;
			border: 2px solid #fff5f5;
			color: #fdfdfd;
			box-shadow: 4px 3px 3px #f66666;
		}
	}
	&-add {
		background-color: #aec4f1;
		border: 2px solid #0c0c62;
		transition: 0.3s linear;
		box-shadow: 4px 3px 3px rgb(86 88 169 / 54%);
		&:hover,
		&:focus {
			background-color: #5045c0;
			color: #fff;
			border: 2px solid #dae4ef;
			box-shadow: 3px 3px 6px rgb(6 4 120 / 74%), -1px -1px 1px rgb(28 14 125 / 84%);
		}
	}
}

.btn-div {
	display: flex;
	margin: 10px 0;
	text-align: center;
}

.create-note {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 60px;
	&__title {
		margin-bottom: 20px;
	}
	&__texts {
		& > input[type="text"],
		& > textarea {
			width: 50%;
			margin: 5px auto 20px auto;
			padding: 17px 15px;
			background: #d8e3fa4d;
			display: block;
			font-size: 22px;
			color: #1d054d;
			border: 2px solid #161685;
		}
	}
}

textarea {
	text-align: justify;
	min-height: 145px;
	height: 180px;
}
